<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115896141-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-115896141-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- preview data -->
    <meta property="og:url" content="http://cornelldti.org/"/>
    <meta property="og:title" content="Cornell Design & Tech Initiative"/>
    <meta property="og:description" content="Creating technology for community impact"/>
    <meta property="og:image" content="http://cornelldti.org/img/new-header-bg.jpg"/>

    <title>Cornell DTI</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- favicon -->
    <link rel="icon" href="favicon.ico">

    <!-- Theme CSS -->
    <link href="css/agency.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/dti-agency.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"
            integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY"
            crossorigin="anonymous"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"
            integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo"
            crossorigin="anonymous"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="page-scroll" href="#page-top">
                <img src="img/logos/cornelldti.png" class="navbar-brand" style="height: 50px; padding: 0"/>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#projects">Projects</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">Teams</a>
                </li>
                <li>
                    <a class="page-scroll" href="#places">Places we've been</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Sponsorship</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">Cornell Design & Tech Initiative</div>
            <div class="intro-lead-in">creating technology for community impact</div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted" style="margin-left: 25%; margin-right: 25%">Cornell DTI is a
                    project team that creates technology to address needs on Cornell's campus, and beyond. Our team
                    consists of 50 product managers, designers and developers working on 6 projects ranging from a
                    campus safety app to a course review website. Check out our <a class="page-scroll" href="#projects">projects</a>
                    to see what we're up to!</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Product Manager</h4>
                <p class="text-muted">Product Managers are responsible for guiding products throughout their execution
                    cycle, focusing on analyzing, positioning, promoting and tailoring our solutions for the student
                    community. Product Managers are the drivers of their products and often wear many hats, usually as a
                    designer or developer, to ensure a successful execution of a product.</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paint-brush fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Designer</h4>
                <p class="text-muted">Designers are responsible for creating user experiences, visual design and product
                    design from product creation to launch. They work closely with Product Managers on high-level
                    strategic decisions and solicit feedback from fellow designers to continually create better
                    products. Both give and accept feedback ranging from intuitive product thinking to high fidelity
                    polishing from fellow designers to continually iterate and create better products.</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Developer</h4>
                <p class="text-muted">Developers are responsible for the technical development and system design in the
                    product development cycle. Backend developers work on setting up servers and databases using Heroku,
                    NodeJS, SQL or MongoDB. Front-end developers work on developing the user-facing part of the product,
                    using languages like Swift or Kotlin/Java for mobile development and React, Angular or Vue, for web
                    development.</p>
            </div>
        </div>
    </div>
</section>

<!-- Projects Grid Section -->
<section id="projects" class="bg-light-gray">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Projects</h2>
            <h3 class="section-subheading text-muted">All of our projects stem from real needs within the Cornell
                community. We currently have six active projects, and are always on the look out for more problems to
                address!</h3>
        </div>
    </div>
    <div class="container">

        {{#projects}}

            {{#row-start}}
            <div class="row">
            {{/row-start}}

            <div class="col-sm-6 portfolio-item" style="margin-top:20px;">
                <a href="#{{{modalId}}}" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-caption">
                        <h4>{{title}}</h4>
                    </div>

                    {{#logo}}
                        <img src="{{{logo}}}" class="img-responsive" alt=""
                             style="background: #212121;">
                    {{/logo}}

                    {{^logo}}
                        {{#image}}
                            <img src="{{{image}}}" class="img-responsive" alt=""
                                 style="background: #212121;">
                        {{/image}}
                    {{/logo}}
                </a>
            </div>

            {{#row-end}}
            </div>
            {{/row-end}}
        {{/projects}}
    </div>
</section>

<!-- Recruitment Section -->
<section id="recruitment">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Recruitment</h2>
                <h3 class="section-subheading text-muted">Interested in joining? Check out our application timeline!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image" style="width: 60px; height: 60px; margin-left:-30px"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Wednesday, August 29th</h4>
                                <h4 class="subheading">Application Release</h4>
                            </div>
                        </div>
                    </li>
        <li class="timeline-inverted">
            <div class="timeline-image" style="width: 60px; height: 60px; margin-left:-30px"></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                <h4>Thursday, August 30th, Monday, September 3rd</h4>
                <h4 class="subheading">Information Sessions <br>(<a href="https://www.facebook.com/events/249139732596375/?ref=br_rs">Facebook event</a>)</h4>
                </div>
            </div>
                    </li>
                    <li>
                        <div class="timeline-image" style="width: 60px; height: 60px; margin-left:-30px"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Thursday, September 6th | 11:59PM </h4>
                                <h4 class="subheading">Application Deadline</h4>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image" style="width: 60px; height: 60px; margin-left:-30px"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>September 7th - 10th</h4>
                                <h4 class="subheading">Interviews</h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image" style="width: 60px; height: 60px; margin-left:-30px"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Wednesday, September 12th</h4>
                                <h4 class="subheading">All decisions released by this time.</h4>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        
                        <div class="timeline-image enlarge" style="display: table">
                            <h4 style="display: table-cell; vertical-align: middle">Apply <br> 8/30 </h4>
                        </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section> 

<!-- Team Section -->
<section id="team" class="bg-light-gray" >

    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Our Teams</h2>
            <br>
        </div>

        {{#teams}}
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">{{teamname}}</h3>
                    <br>
                </div>

                {{#members}}

                    <div class="col-sm-2">
                        <div class="team-member">
                            {{#image}}
                                <img src="{{{image}}}" class="img-responsive img-circle" alt="">
                            {{/image}}
                            {{^image}}
                                <img src="img/missing_photo.png" class="img-responsive img-circle" alt="">
                            {{/image}}

                            <h4>{{name}}</h4>
                            <p class="text-muted">{{role}}</p>
                            <ul class="list-inline social-buttons">
                                {{#github}}
                                    <li><a href="{{{github}}}"><i class="fa fa-github"></i></a>
                                    </li>
                                {{/github}}
                                {{#linkedin}}
                                    <li><a href="{{{linkedin}}}"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                {{/linkedin}}
                                {{#website}}
                                    <li><a href="{{{website}}}"><i class="fa fa-safari"></i></a>
                                    </li>
                                {{/website}}
                            </ul>
                        </div>
                    </div>
                {{/members}}
            </div>
        {{/teams}}

    </div>
</section>

<!-- Clients Aside -->
<section class="clients" id="places">
    <div class="container">

        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Places we've been</h2>
            <h3 class="section-subheading text-muted">Our team members have worked for some great companies. Check
                them
                out!</h3>
        </div>
        <table class="row" style="width: 100%;">
            <tr>

                {{#clients}}

                    <th>
                        {{{svg}}}
                    </th>

                {{/clients}}
            </tr>
        </table>
    </div>
</section>

<!-- Sponsorship Section -->
<section id="contact" class="bg-light-gray">
    <div class="container ">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Why Sponsor Us</h2>
            </div>
        </div>
        <div class="row" style="margin-left: 20%; margin-right: 20%; color: #ffffff">
            <p>
                Cornell Design & Tech Initiative’s goal is to create projects that benefit our Cornell’s student
                population. By partnering with us, organizations have the opportunity to contribute and create to
                these
                projects that will make the college experience safer, simpler, and succinct. Funding is a crucial
                part
                of making these projects come to life. </p>
            <p>
                As a sponsor, not only do you get the opportunity to meet our students currently working on frontend
                and
                backend development, but the opportunity to create a more meaningful relationship on an Ivy League
                campus. CDTI strives to form relationships that allow organizations to come and share their ideas in
                “Town Hall” style settings, that allow our students and your organization’s members to engage in
                conversation about the latest trends in tech. Additionally, as a sponsor, you have the ability to
                take
                part in fun “Study Break” events to get to know our students in a casual setting while also giving
                you
                an excuse to play bowling, dominate in corn hole, or enjoy some good barbeque. CDTI also gives
                sponsors
                an exclusive first-hand look at our projects before launch. Events like these, as well as the
                advertisements of your company on campus, are organized through CDTI. </p>
            <p>
                If you are interested in partnering with us, please contact our Director of Corporate
                Communications,
                Gleni Kodra, at <a href="mailto:gk299@cornell.edu">gk299@cornell.edu</a>. </p>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Cornell DTI 2018</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://www.facebook.com/cornelldti/"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/company-beta/18161846/"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->

{{#projects}}
    <div class="portfolio-modal modal fade" id="{{{modalId}}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>{{title}}</h2>

                                <h4><a href="{{{website}}}">{{website-title}}</a></h4>

                                {{#images}}
                                    <img class="width-20" src="{{{src}}}" alt="">
                                {{/images}}

                                {{#image}}
                                    <img class="img-responsive img-centered" src="{{{image}}}"
                                         alt="">
                                {{/image}}

                                <p>{{description}}</p>

                                {{#appstore}}
                                    <a href="{{{appstore}}}"
                                       style="margin-right: 4px; margin-left: 4px;">
                                        <img src="img/app-store-download-badge.svg" alt="" height="40" width="135">
                                    </a>
                                {{/appstore}}
                                {{#playstore}}
                                    <a href="{{{playstore}}}" style="margin-right: 4px; margin-left: 4px;">
                                        <img alt="Get it on Google Play" src="img/google-play-badge.svg" height="40"
                                             width="135"/>
                                    </a>
                                {{/playstore}}
                                <div></div>

                                {{#github}}
                                    <a href="{{{github}}}" style="margin-right: 4px; margin-left: 4px;">
                                        <button type="button" class="btn btn-secondary"><i class="fa fa-github"></i>
                                            Github
                                        </button>
                                    </a>
                                {{/github}}

                                {{#ios-github}}
                                    <a href="{{{ios-github}}}" style="margin-right: 8px">
                                        <button type="button" class="btn btn-secondary"><i class="fa fa-github"></i>
                                            iOS
                                        </button>
                                    </a>
                                {{/ios-github}}

                                {{#android-github}}
                                    <a href="{{{android-github}}}">
                                        <button type="button" class="btn btn-secondary"><i class="fa fa-github"></i>
                                            Android
                                        </button>
                                    </a>
                                {{/android-github}}

                                <br>

                                <button type="button" class="btn btn-primary" data-dismiss="modal"
                                        style="margin-top: 32px">
                                    <i class="fa fa-times"></i> Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/projects}}

<!-- jQuery -->
<script src="vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"
        integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb"
        crossorigin="anonymous"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>

<!-- Theme JavaScript -->
<script src="js/agency.min.js"></script>

</body>

</html>
